* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 13px;
}

window#waybar {
  background-color: #181825;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial;
  /* Remove GTK theme values (waybar #1351) */
  min-width: 0;
  /* Fix weird spacing in materia (waybar #450) */
  box-shadow: inset 0 -3px transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  padding: 6px 18px;
  margin: 6px 3px;
  border-radius: 4px;
  background-color: #1e1e2e;
  color: #cdd6f4;
}

#workspaces button.active {
  color: #1e1e2e;
  /* background-color: #cdd6f4; */
  background-color: #73f3ff;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: #1e1e2e;
  /* background-color: #cdd6f4; */
  background-color: #90f6ff;
}

#workspaces button.urgent {
  background-color: #f38ba8;
}

#memory,
#custom-power,
#battery,
#backlight,
#wireplumber,
#network,
#clock,
#tray,
#cpu,
#swap,
#custom-mic {
  border-radius: 4px;
  margin: 6px 3px;
  padding: 6px 12px;
  background-color: #1e1e2e;
  color: #181825;
}

#tray{
  background-color: #97E3FE;
}

#custom-power {
  margin-right: 6px;
}

#custom-logo {
  padding-right: 7px;
  padding-left: 7px;
  margin-left: 5px;
  font-size: 15px;
  border-radius: 8px 0px 0px 8px;
  color: #1793d1;
}

#memory, #cpu, #swap, #custom-mic {
  /* background-color: #fab387; */
  background-color: #27e6ec;
}

#battery {
  background-color: #27e6ec;
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: #ff0000;
  color: #FFFF00;
}

#battery.charging {
  background-color: #F394F8;
  color: #181825;
}

#backlight {
  background-color: #fab387;
}

#wireplumber {
  background-color: #27e6ec;
}

#network {
  background-color: #27e6ec;
  padding-right: 17px;
}

#clock {
  font-family: JetBrainsMono Nerd Font;
  /* background-color: #cba6f7; */
  background-color: #5ef1ff;
}

#custom-power {
  /* background-color: #f2cdcd; */
  background-color: #F394F8;
}


tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: #131822;
}

tooltip label {
  padding: 5px;
  background-color: #131822;
}
